*{
    box-sizing: border-box;
}

/*navbar*/
/*.navbar-header{
    font-weight: bolder;
    background:#98999b;
    border: 0;
    border-radius: 0;
}*/

.navbar {
    background-color: #9fa3a8;
    padding-bottom: 0px;
    padding-top: 8px;
    border-bottom-style: solid;
    border-color:black; 
    border-radius: 0;
    border-bottom-width:2px;
}

.navbar-default .navbar-brand {
    font-family: arial;
    margin: auto;
   color: #000000;
    font-weight: bolder;
    font-size: 25px;
    
}
.menu{
    background-color: #fff;
    text-align: center;
}
.navbar-default .navbar-nav>li>a{
        color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}

hr{
    background-color: #fff;
   margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 2px solid #000000;
    width: 85%;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
  border-style: solid;
   /* Changes regular toggle color */
}


.navbar-default .navbar-toggle{
  border-color: #000000; 

}


  /* CSS used here will be applied after bootstrap.css */

.nav { /*for button menu*/
    margin-top: 0; margin-bottom: 0; }


/*end of nav-bar*/


/*jumbotron*/
.jumbotron{
    padding-top: 1px;
    background-color: #fff;
}


.jumbotron  h1{
  font-size: 30px;
}
    
h1{

   font-family: arial;
   text-align: center;
    text-transform: capitalize;
     margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bolder;
    }

.content {
	background:#98999b;
	padding: 10px;
    padding-top: 4px;
   /* margin: 10px;
	margin-left: 0px;
    margin-right: 0px;*/
	border-color: #222223
	float: left;
	position: relative;
    color: black;
    text-transform: lowercase;
} 
.p{
    
    font-size: 30px;
    text-transform: capitalize;
    /*position: absolute;
    left:41%;
    top:1px; */  

}

.lorem{
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/*end of jumbotron*/



/*@media (min-width: 992px) {
    
  }
    
}

@media (min-width: 768px)and (max-width:991px){
    }
}*/